.footer {
  background-color: var(--background);
  color: var(--foreground);
  border-top: 3px solid var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer_content i {
  font-size: 1.5rem;
  color: var(--foreground);
}

.footer_content p {
  font-size: 1.5rem;
  color: var(--foreground);
}
